<?php if ($block->isUserAllowed()): ?>

    <div class="form-out" id="accordion_addtestimonials" >

        <form class="form" action="<?php echo $block->getFormAction(); ?>"
              id="testimonials-form"  method="post"  data-hasrequired="<?php echo __('* Required Fields') ?>"
              data-mage-init='{"validation":{}}'>
            <fieldset class="fieldset">
                <legend class="legend"><span><?php echo __('Let us a Testimonial') ?></span></legend>
                <br />
                <div class="field name required">
                    <label class="label" for="testimonials_title"><span><?php echo __('Title') ?></span></label>
                    <div class="control">
                        <input name="title" id="testimonials_title" title="<?php echo __('Title') ?>"  class="input" type="text" data-validate="{required:true}">
                    </div>
                    <label class="label" for="testimonials_content"><span><?php echo __('Content') ?></span></label>
                    <div class="control">
                        <textarea name="content" id="testimonials_content" title="<?php echo __('Content') ?>"  class="input-textarea" type="text" data-validate="{required:true}"></textarea>
                    </div>
                </div>
                <?php echo $block->getChildHtml('form.additional.info'); ?>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary pull-right">
                    <button type="submit" title="<?php echo __('Create Testimonial') ?>" class="action submit primary">
                        <span><?php echo __('Create Testimonial') ?></span>
                    </button>
                </div>
            </div>
        </form>
    </div>

<?php else: ?>
    <div class="link-to-login">
        <span>   <a href="<?php echo $this->getUrl("customer/account/login") ?>">Sign In</a> in for add a new Testimonial</span>
    </div>
 <?php endif;
  