        <div class="block-content">
            <?php
            $testimonialsCollection = $block->getTestimonials();
            if ($testimonialsCollection->getSize() > 0) :
            ?>
            <ol class="items review-items">
                <?php foreach ($testimonialsCollection as $post): ?>
                    <li class="item review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                        <div class="review-title" itemprop="name"><?php echo $block->escapeHtml($post->getTitle()) ?></div>
                        <div class="review-content" itemprop="description">
                            <?php echo nl2br($block->escapeHtml($post->getContent())) ?>
                        </div>
                        <div class="review-details">
                            <p class="review-author">
                                <span class="review-details-label"><?php /* @escapeNotVerified */ echo __('By')?></span>
                                <strong class="review-details-value" itemprop="author"><strong><?php echo $block->escapeHtml($block->getCustomerName($post->getCustomerId())) ?></strong> at <?php echo $block->formatDate($post->getCreationTime(), 1) ?></strong>
                            </p>

                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>
            <?php  else : ?>
                <p><?php echo __('Have no testimonial...be the first to write one!') ?></p>
            <?php endif; ?>
            <div class="toolbar review-toolbar">
                <?php echo $block->getPagerHtml(); ?>
            </div>
        </div>




